accelerate
fastapi
langchain
langchain-community
langchain-huggingface
numpy
pydantic
PyYAML
requests
safetensors
scikit-learn
sentence-transformers
SQLAlchemy
starlette
torch
transformers
uvicorn[standard]