# === Core ===
accelerate
fastapi
langchain
langchain-community
langchain-huggingface
numpy
pydantic
PyYAML
python-dotenv
requests
safetensors
scikit-learn
sentence-transformers
SQLAlchemy
starlette
torch
transformers
uvicorn[standard]
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121


# === Database ===
Flask
Flask-SQLAlchemy
psycopg2-binary
